// Place all the styles related to the Sandwiches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thumbnail {
	max-height: 150px; 
	max-width: 150px; 
}

.show {
	max-width: 30%;
}


h1{
	color: #2F400A;
}

.map {
	width: 90%;
	margin: 10px;
	border: 4px solid #798C32;
}

img{
	border: 4px solid #798C32;
}

.right {
	float: right;
	max-width: 65%;
	margin:5px;}

.datagrid table { 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
	} 

.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif; 
	background: #fff; 
	overflow: hidden; 
	width: 90%;
	border: 1px solid #798C32; 
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	border-radius: 6px; 
	}

.datagrid table td, .datagrid table th { 
	padding: 3px 5px; 
	}

.datagrid table thead th {
	background:-webkit-gradient( linear, left top, 	left bottom, color-stop(0.05, #798C32), color-stop(1, #798C32) );
	background:-moz-linear-gradient( center top, #798C32 5%, #798C32 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#798C32', endColorstr='#798C32');
	background-color:#798C32; color:#FFFFFF; font-size: 16px; font-weight: bold; border-left: 1px solid #2F400A; 
	} 

.datagrid table thead th:first-child { 
	border: none; 
	}

.datagrid table tbody td { 
	color: #2F400A; 
	border: 1px solid #2F400A;
	font-size: 12px;
	font-weight: normal; 
	}

.datagrid table tbody .alt td { 
	background: #FFF3EA; 
	color: #2F400A; 
	}

.datagrid table tbody td:first-child { 
	border-left: none; 
	}

.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
	}

.datagrid table tfoot td div { 
	border-top: 1px solid #798C32;
	background: #FFFFFF;
	} 

.datagrid table tfoot td { 
	padding: 0; font-size: 11px 
	} 

.datagrid table tfoot td div{ 
	padding: 2px; 
	}

.datagrid table tfoot td ul { 
	margin: 0; padding:0; 
	list-style: none; 
	text-align: right; 
	}

.datagrid table tfoot  li { 
	display: inline; 
	}

.datagrid table tfoot li a { 
	text-decoration: none; 
	display: inline-block;  
	padding: 2px 8px; 
	margin: 1px;
	color: #FFFFFF;
	border: 1px solid #2F400A;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #798C32), color-stop(1, #798C32) );
	background:-moz-linear-gradient( center top, #798C32 5%, #798C32 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#798C32', endColorstr='#798C32');background-color:#798C32; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;
	border-color: #2F400A; 
	color: #FFFFFF; 
	background: none; 
	background-color:#798C32;
	}

div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
	position: fixed !important; 
	}